/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a202c;
    --text-color: #fff;
  }
  .dark {
    --bg-color: #1a202c;
    --text-color: #fff;
  }
}



